@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Poppins;
  font-weight: 400;
  color: #1E1E1E;
  background-color: #F1F1F1;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.learning-button button:hover{
background-color: #fff;
color: #004AAD;
}

button{
  font-size: 24px;
  cursor: pointer;
}

.img > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.FAQ-container{
  border: 1px solid gray;
}

.course-category::before{
content:'';
width: 12px;
height: 12px;
background-color: #fff;
border: 2px solid #414141;
border-radius: 3px;
position: absolute;
left: -20px;
top: 5px;
}

.select-input-container input::placeholder{
color: #8F8F8F;
}

.footer-input input::placeholder{
  color: #fff;
}

.sales-button:hover{
background-color: #004AAD;
color: #fff;
}


@media screen and (max-width: 640px) {
  button {
    font-size: 16px;
  }
  .FAQ-container{
  border: 0;
}
}